<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-------------------------------------------------------->
    <% var path = '../'; %>
    <%
      const pageMeta = {
        title: 'テンプレートページ',
        description: 'テンプレートページのディスクリプション',
        url: 'template',
      }
    %>
    <!-------------------------------------------------------->
    <%- include(`${path}partials/_head`, { meta: pageMeta }) %>

    <!-------------------------------------------------------->
    <!-- ▼▼▼ ページ固有の css はココで読み込む - start -->
    <!-------------------------------------------------------->

    <!-- <link rel="stylesheet" href="/css/○○○.css" /> -->

    <!-------------------------------------------------------->
    <!-- ▲▲▲ ページ固有の css はココで読み込む - end -->
    <!-------------------------------------------------------->
  </head>


  <body>
    <%- include(`${path}partials/_header`); %>

    <!-------------------------------------------------------->
    <!-- ▼▼▼ ココにコンテンツが入ります - start -->
    <!-------------------------------------------------------->
    コンテンツが入ります！<br />

    <!-- top ページへリンク -->
    <div style="margin: 20px;">
      <a href="/">top ページへ</a>
    </div>


    <!-------------------------------------------------------->
    <!-- ▲▲▲ ココにコンテンツが入ります - end -->
    <!-------------------------------------------------------->


    <%- include(`${path}partials/_footer`); %>
    <%- include(`${path}partials/_common_js`); %>


    <!-------------------------------------------------------->
    <!-- ▼▼▼ ページ固有の js はココで読み込む - start -->
    <!-------------------------------------------------------->

    <!-- <script src="/js/○○○.js"></script> -->

    <!-------------------------------------------------------->
    <!-- ▲▲▲ ページ固有の js はココで読み込む - end -->
    <!-------------------------------------------------------->

  </body>
</html>
